<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
        <%- include("partials/header") %>
        <main>

            <h2>Dashboard</h2>
            <a href="/artists"><button class="button">Artists</button></a>
            <a href="/songs"><button class="button">Songs</button></a>
            <a href="/auth/logout"><button class="button">Logout</button></a>

        </main>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>