<!DOCTYPE html>
<html lang="en">
    
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/head") %>

    <body>
        <!-- THE HEADER TAG PARTIAL -->
      <!----  <%- include("partials/header") %>   --->
      <p class="title is-1">AudioLike</p>
      <center><img src="https://i.ibb.co/GsV1cKY/speaker-logo-260nw-714492151.png"  /></center>
        <div class="field">
            <div class="control">
            <a href="/auth/signup"><button class="button is-link">Signup</button></a>
            </div>

            <div class="control">
            <a href="/auth/login"><button class="button is-link is-light">Login</button></a>
            </div>
        </div>
        <!-- THE HEAD TAG PARTIAL -->
        <%- include("partials/footer") %>
    </body>
</html>