
h1.title, h3.title{
    text-align: center;
   /* padding: 10px; */
}

p.title-home-center {
    text-align: center;
}


.field {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    display: block !important;
    margin: 7px auto;
    max-width: 40% !important;
}



p {
    text-align: center;
    min-height: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


img {
  padding: -10px;
}

a {
    text-align: center;
}